header {
    display: flex;
    font-size: xx-large;
    font-weight: 600;
    background-color: skyblue;
}

.breakdown {
    border: 3px solid black;
    margin-top: 8px;
    margin-left: 5px;
    height: 300px;
}

.breakdown-text {
    text-align: start;
}

.searchBtn {
    width: 100%;
    margin-top: 1rem;
}

.searchBtn, .form-control {
    border-radius: 6px!important;
}

ul {
    margin-top: 1rem;
    padding-left: 0;
    border-top: 3px solid black;
    width: 100%;
}

li {
    list-style-type: none;
    background-color: lightgrey;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    padding: 5px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    width: 66.66%;
    margin-right: 0;
    margin-left: 33.33%;
    margin-top: 5px;
}

.forecast {
    flex-direction: row;
    width: 20%;
    border: 3px solid black;
}